body,
h1,
p {
    display: flex;
    justify-content: center;
    color: var(--primary);
}

main {
    width: 500px;
}

:root {
    --background: black;
    --primary: white;
    --toggle-left: 5px;
}

.darkModeContainer {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--primary);
    position: relative;
}

.darkModeToggle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: orange;
    position: absolute;
    top: 5px;
    left: var(--toggle-left);
    transition: left 0.5s;
}

.addContainer {
    display: flex;
    justify-content: center;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    height: 40px;
    width: 60%;
    border-radius: 10px;
    color: var(--primary);
    background: blue;
    margin-top: 10px;
    border: none;
}

.addButton:hover {
    opacity: 0.8;
}

.copiedLink {
    visibility: hidden;
    font-size: large;
}
