body,
h1,
p {
    display: flex;
    justify-content: center;
    color: white;
}

main {
    width: 500px;
}

.addContainer {
    display: flex;
    justify-content: center;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    height: 40px;
    width: 60%;
    border-radius: 10px;
    color: white;
    background: blue;
    margin-top: 10px;
    border: none;
}

.addButton:hover {
    opacity: 0.8;
}

.copiedLink {
    visibility: hidden;
    font-size: large;
}
