.linkContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.copyButton,
.launchLink {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    color: var(--primary);
    background: blue;
    border: none;
}

.copyButton:hover,
.launchLink:hover {
    opacity: 0.8;
}

.url {
    height: 40px;
    width: 70%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: var(--primary);
    background-color: var(--background);
    color: var(--primary);
    font-size: large;
}

textarea:focus,
.url:focus {
    outline: none;
    border-bottom-color: blue;
    transition: border-bottom-color 0.5 linear;
}

.removeLink {
    height: 40px;
    width: 40px;
    color: var(--primary);
    background-color: var(--background);
    border: none;
    font-size: large;
}

.removeLink:hover {
    opacity: 0.8;
}
